---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=7d2963995eca4fbe8a0185755242009&q=Point%20Pleasant,%20NJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999979'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/21/2024 22:47:41'
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c82c7c52d276d610b2e82b40dda322de
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Point Pleasant","region":"New Jersey","country":"United
        States of America","lat":40.08,"lon":-74.07,"tz_id":"America/New_York","localtime_epoch":1726958837,"localtime":"2024-09-21
        18:47"},"current":{"last_updated_epoch":1726958700,"last_updated":"2024-09-21
        18:45","temp_c":22.2,"temp_f":72.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":15.0,"wind_kph":24.1,"wind_degree":74,"wind_dir":"ENE","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"humidity":61,"cloud":0,"feelslike_c":24.6,"feelslike_f":76.3,"windchill_c":25.0,"windchill_f":77.1,"heatindex_c":26.2,"heatindex_f":79.1,"dewpoint_c":16.2,"dewpoint_f":61.2,"vis_km":16.0,"vis_miles":9.0,"uv":7.0,"gust_mph":19.8,"gust_kph":31.8},"forecast":{"forecastday":[{"date":"2024-09-21","date_epoch":1726876800,"day":{"maxtemp_c":26.7,"maxtemp_f":80.1,"mintemp_c":18.2,"mintemp_f":64.8,"avgtemp_c":22.0,"avgtemp_f":71.6,"maxwind_mph":16.3,"maxwind_kph":26.3,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":66,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":5.0},"astro":{"sunrise":"06:43
        AM","sunset":"06:54 PM","moonrise":"08:53 PM","moonset":"11:05 AM","moon_phase":"Waning
        Gibbous","moon_illumination":88,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1726891200,"time":"2024-09-21
        00:00","temp_c":19.8,"temp_f":67.7,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":11.6,"wind_kph":18.7,"wind_degree":37,"wind_dir":"NE","pressure_mb":1016.0,"pressure_in":29.99,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":75,"cloud":11,"feelslike_c":19.8,"feelslike_f":67.7,"windchill_c":19.8,"windchill_f":67.7,"heatindex_c":20.2,"heatindex_f":68.3,"dewpoint_c":15.2,"dewpoint_f":59.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":17.6,"gust_kph":28.4,"uv":0},{"time_epoch":1726894800,"time":"2024-09-21
        01:00","temp_c":19.4,"temp_f":66.8,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":11.6,"wind_kph":18.7,"wind_degree":33,"wind_dir":"NNE","pressure_mb":1015.0,"pressure_in":29.98,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":77,"cloud":0,"feelslike_c":19.4,"feelslike_f":66.8,"windchill_c":1[...]
